<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    th {
      background-color: #C0C0C0;
    }
    th, td {
      padding: 10px 30px;
    }
    table {
      border-collapse: collapse;
    }
    .title-div {
      margin-bottom: 30px;
    }
  </style>
</head>

<body>

<div class="title-div">
  <h3>Product List Page</h3>
  <a class="registerLink" href="#">새로운 상품 등록</a>
</div>

<table>
  <tr>
    <th>상품번호</th>
    <th>상품명</th>
    <th>가격</th>
    <th>등록일</th>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>참치세트</td>
    <td>10000</td>
    <td>식품</td>
  </tr>
  <tr>
    <td><a href="#">2</a></td>
    <td>샴푸세트</td>
    <td>20000</td>
    <td>생활용품</td>
  </tr>
  <tr>
    <td><a href="#">3</a></td>
    <td>세차용품</td>
    <td>30000</td>
    <td>생활용품</td>
  </tr>
</table>
</body>

</html>