<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
  label {
    display: inline-block;
    width: 100px;
  }
  .title-div {
      margin-bottom: 30px;
  }
  </style>
</head>

<body>

<div class="title-div">
  <h3>Product Read Page</h3>
</div>

<div>
  <label >상품번호</label>
  <input type="text" value="1" readonly >
</div>
<div>
  <label >상품명</label>
  <input type="text" value="참치세트" readonly >
</div>
<div>
  <label >가격</label>
  <input type="text" value="10000" readonly >
</div>
<div>
  <label >분류</label>
  <input type="text" value="식품" readonly >
</div>
<div>
  <label >등록일</label>
  <input type="text" class="form-control" value="2024/10/05 11:11:11" readonly>
</div>
<div>
  <label >수정일</label>
  <input type="text" class="form-control" value="2024/10/05 11:11:11" readonly>
</div>

</body>

</html>